/*Layout*/
/*Base*/
* a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Lato";
  margin: 0;
  background-color: white;
  width: 100%;
}

ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}
li {
  list-style-type: none;
}

body {
  font-family: "Lato";
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* SEARCH BAR */
.search {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5%;
}

.search__bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  height: 79px;
}

.fa-search {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}
input::placeholder {
  color: #000000;
  opacity: 0.25;
  padding: 10px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
}

/* recipes */
.recepies {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5%;
}
.recepies-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  margin: 5%;
}

.recepies__card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border-radius: 5px;
  background-color: #e7e7e7;
  margin: 10px;
}

.recepies__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.recepies__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  padding: 10px;
}

.recepies__name-time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recepies__time {
  display: flex;
  flex-direction: row;
}
.recepies__name {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-right: 20px;
}
.recepies__ingredients-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.recepies__ingredients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 74px;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}
.recepies__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 74px;
  overflow: hidden;
  margin: 0;
}
.ingredients-list {
  display: flex;
}
.recepies__card-description {
  overflow: hidden;
}

/* button ing app ust */

.buttons-select {
  display: flex;
  justify-content: flex-start;
  margin: 5%;
}

/* ingredientBTN */
.ingredientClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
}
.ingrBTN {
  margin-right: 10px;
}

.ingredientOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 468px;
  z-index: 30;
}

.ingredientOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ingredient-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  /* overflow: scroll; */
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  overflow: scroll;
}

/* appareil BTN */
.appareilClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}
.appareilClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}

.appareilClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.appBTN {
  margin-right: 10px;
}

.appareilOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 468px;
  z-index: 30;
}
.appareilOpenListDiv {
  flex-direction: column;
}
.appareilOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.appareil-hideDRUGI {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  width: 600px;
  /* overflow: scroll; */
}
.appareil-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  width: 100%;
  overflow: scroll;
  cursor: pointer;
}

/* ustensiles BTN */
.ustensilesClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.ustensilesClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}

.ustensilesOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 468px;
  z-index: 30;
}

.ustensilesOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ustensiles-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  overflow: scroll;
}

.ustensilesClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}
.ustBTN {
  margin-right: 10px;
}
.ustensilesOpenListDiv {
  flex-direction: column;
}
.ustensiles-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  /* overflow: scroll; */
}
  /* tags  */

  .tagSection {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 30px;
  }

  .ingTag {
    display: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #3282f7;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
  }
  .textTag {
    display: flex;
  }
  .tagsClose {
    margin-left: 5px;
  }

  .ingTags {
    display: flex;
    flex-direction: column;
  }

  .tagsIng {
    display: flex;
    flex-direction: row;
  }

  .tagsIngNew {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #3282f7;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
  }

  .appTags {
    display: flex;
    flex-direction: column;
  }

  .tagsApp {
    display: flex;
    flex-direction: row;
  }

  .tagsAppNew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #68d9a4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ustTags {
    display: flex;
    flex-direction: column;
  }
  .tagsUst {
    display: flex;
    flex-direction: row;
  }

  .tagsUstNew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #ed6454;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .tagsIcon {
    margin-left: 5px;
  }

