/*Layout*/
/*Base*/
* a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Lato";
  margin: 0;
  background-color: white;
  width: 100%;
}

ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}
li {
  list-style-type: none;
}

body {
  font-family: "Lato";
}

h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
}

p {
  font-family: "Lato";
  margin: 0%;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

/* SEARCH BAR */

.search-every {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5%;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  height: 69px;
}

.fa-search {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}
input::placeholder {
  color: #000000;
  opacity: 0.25;
  padding: 10px;
}

/* TAGS FROM DROPDOWN */

.IngIcon {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.tags-All {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 5%;
}

.tagsIng {
  display: flex;
  align-items: center;
justify-content: center;
  /* height: 15px; */
  width: fit-content;
  /* background: #3282f7; */
  color: white;
  border-radius: 5px;
  /* padding: 10px; */
  margin-right: 10px;
}

.AppIcon {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #68d9a4;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.tagsApp {
  display: flex;
  align-items: center;
justify-content: center;
  /* height: 15px; */
  width: fit-content;
  /* background: #68d9a4; */
  color: white;
  border-radius: 5px;
  /* padding: 10px; */
  margin-right: 10px;
}

.tagsUts {
  height: 15px;
  width: fit-content;
  background: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

/* Buttons */
.buttons-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin: 5%;
}

/* appareil button */

.appliance-list {
  display: flex;
  cursor: pointer;
}
.appareil {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  overflow: hidden;
  background: #68d9a4;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.appareil-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #68d9a4;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 263px;
  cursor: pointer;
}
/* .appareil:hover + .appareil-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #68d9a4;
  color: white;
  width:300px;
  height: 250px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;
} */

/* ustensiles button */

.ustensiles-list {
  display: flex;
  cursor: pointer;
}
.ustensiles {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  overflow: hidden;
  background: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.ustensiles-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ed6454;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 373px;
  cursor: pointer;
}
/* .ustensiles:hover + .ustensiles-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ed6454;
  color: white;
  width:300px;
  height: 250px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;
} */

/* ingredient button */

.ingredient-list {
  display: flex;
  cursor: pointer;
}
.ingredient {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  /* height: 50px; */
  overflow: hidden;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.ingredient-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #3282f7;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 150px;
  cursor: pointer;
}
/* .ingredient:hover + .ingredient-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #3282f7;
  color: white;
  width:30%;
  /* height: 250px; */
/* overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;

} */

/* RECEPIES BOX */

.recepies-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin: 10px;
}
.recepiesBox {
  display: block;
  width: 380px;
  height: 364px;
  border-radius: 5px;
  background-color: #e7e7e7;

  margin: 20px;
}

.recepiesimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.recepiesinfo {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px;
}

.nameTime {
  display: flex;
  flex-direction: row;
}

.name {
  width: 50%;
  height: fit-content;
  font-size: 1em;
}

.time {
  display: flex;
  width: 50%;
  height: fit-content;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.fa-clock {
  padding-right: 10px;
}

.ingDes {
  display: flex;
  flex-direction: row;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50px;
  overflow: hidden;
  font-size: 0.8em;
  padding-right: 10px;
}

.ingredientAll {
  display: flex;
  flex-direction: row;
}
.ingredientName {
  display: flex;
  margin-right: 2px;
}
.ingredientQuantity {
  display: flex;
}

.listIng:hover {
  background: #2059ad;
  cursor: pointer;
}
.description {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  width: 50%;
  height: 50px;
  font-size: 0.8em;
  margin: 0;
}

.ustensils {
  display: none;
}

/* new BTN */

.newBtn {
  position: relative;
}

.ingredientplaceholder {
  transition-property: width;
}

.absolute {
  position: absolute;
  left: 0;
}

.ulList {
  display: none;
  z-index: 10;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.ingredientlist {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 30px;
  overflow: hidden;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

/* show hide btn */

.clickbtn {
  display: flex;
  width: 200px;
  height: 40px;
  background: #3282f7;
  color: white;
  cursor: pointer;
}

.showbtn {
  display: none;
  width: 200px;
  height: 40px;
  background: #f7328e;
  color: white;
}

/* NEW DROPDOWN */

/* ingredient BTN */
.ingredientClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.ingredientClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
}

.ingredientClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}

.ingredientOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ingredientOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ingredient-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  overflow: scroll;
}

/* appareil BTN */
.appareilClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.appareilClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.appareilClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down app {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}
.appIcon {
  color: rgb(139, 43, 43);
  cursor: pointer;
  left: 264 px;
}

.appareilOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.appareilOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5 px;
}

.appareil-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  overflow: scroll;
}

/* ustensiles BTN */
.ustensilesClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.ustensilesClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}

.ustensilesClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}
.appIcon {
  color: rgb(139, 43, 43);
  cursor: pointer;
  left: 264 px;
}

.ustensilesOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ustensilesOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ustensiles-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  overflow: scroll;
}
