/*Layout*/
/*Base*/
* a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Lato";
  margin: 0;
  background-color: white;
  width: 100%;
}

ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}
li {
  list-style-type: none;
}

body {
  font-family: "Lato";
}

h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
}

p {
  font-family: "Lato";
  margin: 0%;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

/* SEARCH BAR */
.search {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5%;
}

.search__bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  height: 79px;
}

.fa-search {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}
input::placeholder {
  color: #000000;
  opacity: 0.25;
  padding: 10px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
}
/* TAGS FROM DROPDOWN */

.IngIcon {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.tags-All {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 5%;
}

.tagsIng {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 15px; */
  width: fit-content;
  /* background: #3282f7; */
  color: white;
  border-radius: 5px;
  /* padding: 10px; */
  margin-right: 10px;
}

/* .AppIcon {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #68d9a4;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
} */
/* .tagsApp {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 15px; */
/* width: fit-content; */
/* background: #68d9a4; */
/* color: white;
  border-radius: 5px; */
/* padding: 10px; */
/* margin-right: 10px;
} */
.UtsIcon {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.tagsUts {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 15px; */
  width: fit-content;
  /* background: #ed6454; */
  color: white;
  border-radius: 5px;
  /* padding: 10px; */
  margin-right: 10px;
}

/* Buttons */
.buttons-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin: 30px;
}

/* appareil button */

.appliance-list {
  display: flex;
  cursor: pointer;
}
.appareil {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  overflow: hidden;
  background: #68d9a4;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.appareil-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #68d9a4;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 263px;
  cursor: pointer;
}
/* .appareil:hover + .appareil-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #68d9a4;
  color: white;
  width:300px;
  height: 250px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;
} */

/* ustensiles button */

.ustensiles-list {
  display: flex;
  cursor: pointer;
}
.ustensiles {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  overflow: hidden;
  background: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.ustensiles-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ed6454;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 373px;
  cursor: pointer;
}
/* .ustensiles:hover + .ustensiles-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ed6454;
  color: white;
  width:300px;
  height: 250px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;
} */

/* ingredient button */

.ingredient-list {
  display: flex;
  cursor: pointer;
}
.ingredient {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  /* height: 50px; */
  overflow: hidden;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  position: relative;
  border-style: none;
}
.ingredient-hide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background: #3282f7;
  color: white;
  width: 40%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 150px;
  cursor: pointer;
}
/* .ingredient:hover + .ingredient-hide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #3282f7;
  color: white;
  width:30%;
  /* height: 250px; */
/* overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  z-index:1;
  position: absolute;

} */

/* NOT FOUND BOX */
.not-found {
  display: none;
  justify-content: center;
}
.notFound {
  /* display: none; */
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 20px;
  width: 50%;
  background-color: #e7e7e7;
  color: black;
  border-radius: 5px;
  padding: 20px;
  border-color: #d04f4f;
  border-style: solid;
  border-width: 15px;
}

.notFoundBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RECEPIES BOX */

/* recipes */
.recepies {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5%;
}
.recepies-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  margin: 5%;
}

.recepies__card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border-radius: 5px;
  background-color: #e7e7e7;
  margin: 10px;
}

.recepies__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.recepies__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  padding: 10px;
}

.recepies__name-time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recepies__time {
  display: flex;
  flex-direction: row;
}
.recepies__name {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-right: 20px;
}
.recepies__ingredients-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recepies__ingredients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 74px;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}
.recepies__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 74px;
  overflow: hidden;
  margin: 0;
}
.ingredients-list {
  display: flex;
}
.recepies__card-description {
  overflow: hidden;
}
/* new BTN */

.newBtn {
  position: relative;
}

.ingredientplaceholder {
  transition-property: width;
}

.absolute {
  position: absolute;
  left: 0;
}

.ulList {
  display: none;
  z-index: 10;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.ingredientlist {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 30px;
  overflow: hidden;
  background: #3282f7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

/* show hide btn */

.clickbtn {
  display: flex;
  width: 200px;
  height: 40px;
  background: #3282f7;
  color: white;
  cursor: pointer;
}

.showbtn {
  display: none;
  width: 200px;
  height: 40px;
  background: #f7328e;
  color: white;
}

/* NEW DROPDOWN */

/* ingredient BTN */
.ingredientClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.ingredientClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
}

.ingredientClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}

.ingredientOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ingredientOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ingredient-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  /* overflow: scroll; */
}

/* appareil BTN */
.appareilClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.appareilClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.appareilClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down app {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}
.appIcon {
  color: rgb(139, 43, 43);
  cursor: pointer;
  left: 264 px;
}

.appareilOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.appareilOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5 px;
}

.appareil-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
}

/* ustensiles BTN */
.ustensilesClosedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.ustensilesClosed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}

.ustensilesClosed::placeholder {
  opacity: 1;
  color: white;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}
.appIcon {
  color: rgb(139, 43, 43);
  cursor: pointer;
  left: 264 px;
}

.ustensilesOpenListDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ustensilesOpenList {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5 px;
}

.ustensiles-hideDRUGI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 600px;
  overflow: scroll;
}

/* dropdown input button */

.inputSelected {
  display: none;
  flex-direction: row;
  height: 15px;
  width: fit-content;
  background: #ed6454;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin: 5px;
}

.buttonInput {
  display: flex;
  height: 25px;
  width: fit-content;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

/* novi Ponedeljak buttons Search */

/* ingredient BTN */

.ingredient-BtnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}

.ingredient-btn_closed {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: fit-content;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ingredient-btn_closedSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
}

.ingredient-btn_closedList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}

.ingredentList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 20%;
  background: #3282f7;
  color: white;
  border: none;
}

/* appliances BTN */

.appliances-BtnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}

.appliances-btn_closed {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: fit-content;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.appliances-btn_closedSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
}

.appliances-btn_closedList {
  display: flex;
}

.appliancesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 20%;
  background: #68d9a4;
  color: white;
  border: none;
}

/* ustensils BTN */

.ustensils-BtnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.fa-chevron-down {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  left: 100px;
}

.ustensils-btn_closed {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: fit-content;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 30;
}

.ustensils-btn_closedSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
}

.ustensils-btn_closedList {
  display: flex;
}

.ustensilsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 20%;
  background: #ed6454;
  color: white;
  border: none;
}

.ustListAll {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: fit-content;
  height: 300px;
}

.ingListAll {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow:hidden;
  align-content: flex-start;
  height: 300px;
}

.ingList {
  display: block;
  cursor: pointer;
  padding-right: 20px;
}
.ingList:hover {
  background-color: #2874e6;
}

.appList {
  display: block;
  cursor: pointer;
}
.appList:hover {
  background: #36aa74e1;
}
.ustList {
  display: block;
  cursor: pointer;
  padding-right: 20px;
}

.ustList:hover {
  background: #db3724;
}

/* tags  */

.tagSection {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 30px;
}

.ingTag {
  display: none;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}
.textTag {
  display: flex;
}
.tagsClose {
  margin-left: 5px;
}

.ingTags {
  display: flex;
  flex-direction: column;
}

.tagsIng {
  display: flex;
  flex-direction: row;
}

.tagsIngNew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #3282f7;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}

.appTags {
  display: flex;
  flex-direction: column;
}

.tagsApp {
  display: flex;
  flex-direction: row;
}

.tagsAppNew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #68d9a4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.ustTags {
  display: flex;
  flex-direction: column;
}
.tagsUst {
  display: flex;
  flex-direction: row;
}

.tagsUstNew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #ed6454;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.tagsIcon {
  margin-left: 5px;
}
